
@{
    ViewBag.Title = "ComfirmPayment";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<style>
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
</style>

<br />
<div class="breadcrumbs_area" style="margin-right: 10.1%; margin-left: 10.1%;">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="@Url.Action("index", "Home")">Trang chủ</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Xác nhận đơn hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <h3>Xác nhận thanh toán</h3>
    <p><strong>Mã hóa đơn: </strong>@ViewBag.Invoice.InvoiceID</p>
    <p><strong>Tổng tiền: </strong>@ViewBag.Invoice.TotalAmount.ToString("N0") VNĐ</p>
    <p><strong>Ngày tạo: </strong>@ViewBag.Invoice.CreatedDate</p>
    <p><strong>Trạng thái: </strong>@ViewBag.Invoice.Status</p>

    <h3>Chi tiết hóa đơn:</h3>
    <table>
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.InvoiceDetails)
            {
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price.ToString("N0")</td>
                    <td>@((item.Quantity * item.Price).ToString("N0"))</td>

                </tr>

            }
            <tr>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align: right;"><strong>Tổng cộng:</strong></td>
                <td><strong>@ViewBag.Invoice.TotalAmount.ToString("N0") VNĐ</strong></td>
            </tr>
        </tfoot>
    </table>
</div>

