@model BTL.Models.Admin
@{
    ViewBag.Title = "settings";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutPage1.cshtml";
}

<div id="settings-content" class="content-section active">
    <div class="content-section-header">Cài đặt hệ thống</div>
    <div class="settings-container">
        <h3>Thông tin tài khoản</h3>
        <div class="info-section">
            <div class="employee-form">
                @using (Html.BeginForm("UpdateSettings", "Settings", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.HiddenFor(model => model.AdminID)

                        <div class="custom-form-group">
                            <label for="FullName" class="control-label col-md-2">Họ và tên: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <label for="Email" class="control-label col-md-2">Email: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <label for="Address" class="control-label col-md-2">Địa chỉ: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <label for="PhoneNumber" class="control-label col-md-2">Số điện thoại: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <label for="BirthDate" class="control-label col-md-2">Ngày sinh: </label>
                            <div class="col-md-10">
                                <input type="date"
                                       class="form-control"
                                       id="BirthDate"
                                       name="BirthDate"
                                       value="@(Model.BirthDate != DateTime.MinValue ? Model.BirthDate.ToString("yyyy-MM-dd") : "")" />
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="custom-form-group">
                            <label for="HomeTown" class="control-label col-md-2">Quê quán: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.HomeTown, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HomeTown, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <label for="IndentityCard" class="control-label col-md-2">Số CCCD/CMND: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.IdentityCard, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IdentityCard, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="custom-form-group">
                            <label for="Role" class="control-label col-md-2">Chức vụ: </label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(
                                    model => model.Role,
                                    new SelectList(
                                        new List<string> { "Nhân viên", "Quản lý" },
                                    Model.Role
                                    ),
                                    new { @class = "form-control" }
                                )
                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="custom-form-group">
                            <label for="UserName" class="control-label col-md-2">Tên đăng nhập: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="custom-form-group">
                            <label for="Password" class="control-label col-md-2">Mật khẩu: </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="custom-form-group">
                            <label for="URLPicture" class="control-label col-md-2">Ảnh đại diện: </label>
                            <div class="col-md-10">
                                @if (!string.IsNullOrEmpty(Model.URLPicture))
                                {
                                    <img src="@Url.Content("~/Content/images/admin/" + Model.URLPicture)" alt="Ảnh nhân viên" style="max-width: 200px; height: auto;" />
                                }
                                <input type="file" name="URLPicture" class="form-control" />@Model.URLPicture
                                @Html.ValidationMessageFor(model => model.URLPicture, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <button id="save-employee">Lưu lại</button>
                    </div>
                }
            </div>
        </div>
        <h3>Ngôn ngữ</h3>
        <div class="info-section">
            <div class="select-language">
                <select>
                    <option value="1">Tiếng Anh</option>
                    <option value="2">Tiếng Ả Rập</option>
                    <option value="3">Tiếng Bồ Đào Nha</option>
                    <option value="4">Tiếng Đức</option>
                    <option value="5">Tiếng Pháp</option>
                    <option value="6">Tiếng Tây Ban Nha</option>
                    <option value="7">Tiếng Trung Quốc</option>
                    <option value="8" selected>Tiếng Việt</option>
                </select>
            </div>
        </div>
        <h3>Chế độ sáng/tối</h3>
        <div class="info-section">
            <div class="dark-light-mode">
                <p id="mode-status">Hiện tại: Chế độ sáng</p>
                <div class="buttons">
                    <button class="button edit" id="toggle-mode" onclick="myFunction()">Chuyển sang chế độ tối</button>
                </div>
            </div>
        </div>
        <style>
            .dark-mode {
                background-color: black;
                color: white;
            }
                .dark-mode .main-content, .dark-mode .settings-container, .dark-mode .employee-form, .dark-mode .info-section {
                    background-color: black;
                    color: white;
                }

                .dark-mode #mode-status,
                .dark-mode .actions button,
                .dark-mode .content-section-header,
                .dark-mode h3,
                .dark-mode label,
                .dark-mode input,
                .dark-mode input[type="text"],
                .dark-mode input[type="email"],
                .dark-mode input[type="date"] 
                {
                    color: white; 
                }

                    .dark-mode select,
                    .dark-mode input[type="text"],
                    .dark-mode input[type="email"],
                    .dark-mode input[type="date"] 
                    {
                        background-color: #333;
                        color: white; 
                    }

                .dark-mode #settings-content{
                    background-color: black;
                    color: white;
                }

        </style>
        <script>
            function myFunction() {
                var element = document.body;
                element.classList.toggle("dark-mode");

                var modeStatus = document.getElementById("mode-status");
                var toggleButton = document.getElementById("toggle-mode");

                if (element.classList.contains("dark-mode")) {
                    modeStatus.textContent = "Hiện tại: Chế độ tối";
                    toggleButton.textContent = "Chuyển sang chế độ sáng";
                } else {
                    modeStatus.textContent = "Hiện tại: Chế độ sáng";
                    toggleButton.textContent = "Chuyển sang chế độ tối";
                }
            }

        </script>
        <h3>Nhật ký hoạt động</h3>
        <div class="info-section">
            <p>Thông tin hoạt động gần đây của bạn.</p>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Mã Admin</th>
                            <th>Họ và tên</th>
                            <th>Ngày giờ</th>
                            <th>Lịch sử hoạt động</th>
                            <th>Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Phạm Văn Thuận</td>
                            <td>12:39 04/11/2024</td>
                            <td>Thêm sản phẩm</td>
                            <td class="actions"><button>Chi tiết</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
